{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>


{% endblock %}

{% block body %}
<div class="content bg-warning">

    <h1 class="text-white bg-warning">TASK LISTS</h1>

    {% if tasks|length < 1 %}
    <h4 style="text-align: center">NO TASKS</h4>
    {% else %}

    <table class="table table-white">
        <tr>
            <th>タスク</th>
            <th>登録日</th>
            <th>期限</th>
            <th>編集・削除</th>
            <!--<th>完了</th>-->
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.date_due }}</td>
            
            
            <td>    <!--ボタンの表示-->
                <a class="btn btn-danger" href="/delete/{{task.id}}">削除</a>
                <a class="btn btn-primary" href="/edit/{{task.id}}">編集</a>
                <!--<a class="btn btn-primary" href="/check/{{task.id}}">完了</a>-->
            </td>

            <!--タスクの進捗-->

            <td>
                
            </td>


           

        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/task_index" method="post" class="bg-warning text-dark">
        <input type="text" name="content" id="content" class="form-control bg-white text-white"　width="50%">

        <input type="datetime-local" name="due_date" id="due" class="form-control bg-white text-dark"　width="50%">

        <div id="submit">
        <input type="submit" value="新規追加" id="submit_button" class="btn btn-success">
        </div>
    </form>

</div>

<div><a href="/top_return"><button type="button" id="return_button" class="btn btn-link">TOPに戻る</button></a></div>
{% endblock %}






